@font-face {
   font-family: 'BlenderPro-Bold';
   font-display: swap;
   src: url('file:///C:/Users/Logan%20Damon/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-12-24_203959/fonts/BlenderPro-Bold/font.ttf');
}
